<ion-view class="forgot-password-view">
<ion-nav-title>
<span>{{ "HEADER_FORGOT_PASSWORD" | translate }}</span>
</ion-nav-title>
<ion-content class="padding">
<div class="row form-heading">
  <div class="col col-center">
    <h1 class="form-title">{{ "TEXT_RECOVER_YOUR_PASSWORD" | translate }}</h1>
  </div>
</div>
<div class="row">
  <div class="col mt-10">
    <div ng-show="error" class="message error pt-10 pb-10 text-center fs-16 text-bold"><i class="icon ion-alert-circled fs-15"></i>{{error}}</div>
    <div ng-show="message" class="message pt-10 pb-10 text-center fs-16 text-bold"><i class="icon ion-checkmark-round fs-15"></i>{{message}}</div>
  </div>
</div>
<div class="row form-wrapper">
  <div class="col">
    <form name="forgot_password_form" class="" novalidate>
      <div class="list input-fields">
        <label class="item item-input">
          <span class="input-label">{{ "TEXT_USERNAME" | translate }}</span>
          <input type="text" name="user_name" ng-model="user.userName" required>
        </label>
        <button type="submit" class="recover button button-positive button-block" ng-click="recoverPassword()" ng-disabled="forgot_password_form.$invalid">
          {{ "TEXT_RECOVER_IT" | translate }}
        </button>
      </div>
    </form>
    <div class="alternative-actions">
      <a class="log-in button button-small button-clear" ui-sref="app.login">
        {{ "LINK_SIGN_IN" | translate }}
      </a>
      <a class="sign-up button button-small button-clear" ui-sref="app.register">
        {{ "LINK_REGISTER" | translate }}
      </a>
    </div>
  </div>
</div>
</ion-content>
</ion-view>
