<ion-view class="login-view">
<ion-nav-title>
<span>{{ "HEADER_SIGN_IN" | translate }}</span>
</ion-nav-title>
<ion-content class="padding">
<div class="row form-heading">
  <div class="col col-center">
    <h1 class="form-title">{{ "TEXT_WELCOME_BACK" | translate }}</h1>
  </div>
</div>
<div class="row">
  <div class="col mt-10">
    <div ng-show="error" class="message error pt-10 pb-10 text-center fs-16 text-bold"><i class="icon ion-alert-circled fs-15"></i>{{error}}</div>
    <div ng-show="message" class="message pt-10 pb-10 text-center fs-16 text-bold"><i class="icon ion-checkmark-round fs-15"></i>{{message}}</div>
  </div>
</div>
<div class="row form-wrapper">
  <div class="col">
    <form name="login_form" class="" novalidate autocomplete="off">
      <div class="list input-fields">
        <label class="item item-input">
          <span class="input-label">{{ "TEXT_USERNAME" | translate }}</span>
          <input type="text" name="user_name" ng-model="user.userName" required>
        </label>
        <label class="item item-input" show-hide-container>
          <span class="input-label">{{ "TEXT_PASSWORD" | translate }}</span>
          <input type="password" name="password" ng-model="user.password" required show-hide-input>
        </label>
        <button type="submit" class="login button button-block" ng-click="doLogin()" ng-disabled="login_form.$invalid">
          {{ "TEXT_SIGN_IN" | translate }}
        </button>
      </div>
    </form>
    <div class="alternative-actions">
      <a class="forgot-password button button-small button-clear" ui-sref="app.forgot_password">
        {{ "LINK_FORGOT_PASSWORD" | translate }}
      </a>
      <a class="sign-up button button-small button-clear" ui-sref="app.register">
        {{ "LINK_REGISTER" | translate }}
      </a>
    </div>
  </div>
</div>
</ion-content>
</ion-view>
