<ion-view class="register-view">
<ion-nav-title>
<span>{{ "HEADER_REGISTER" | translate }}</span>
</ion-nav-title>
<ion-content class="padding">
<div class="row form-heading">
  <div class="col col-center">
    <h1 class="form-title">{{ "TEXT_CREATE_YOUR_ACCOUNT" | translate }}</h1>
  </div>
</div>
<div class="row">
  <div class="col mt-10">
    <div ng-show="error" class="message error pt-10 pb-10 text-center fs-16 text-bold"><i class="icon ion-alert-circled fs-15"></i>{{error}}</div>
    <div ng-show="message" class="message pt-10 pb-10 text-center fs-16 text-bold"><i class="icon ion-checkmark-round fs-15"></i>{{message}}</div>
  </div>
</div>
<div class="row form-wrapper">
  <div class="col">
    <form name="signup_form" class="" novalidate>
      <div class="list input-fields">
        <label class="item item-input">
          <span class="input-label">{{ "TEXT_USERNAME" | translate }}</span>
          <input type="text" name="user_name" ng-model="user.userName" required>
        </label>
        <label class="item item-input">
          <span class="input-label">{{ "TEXT_NAME" | translate }}</span>
          <input type="text" name="display_name" ng-model="user.displayName" required>
        </label>
        <label class="item item-input">
          <span class="input-label">{{ "TEXT_EMAIL" | translate }}</span>
          <input type="email" name="email" ng-model="user.email" required>
        </label>
        <label class="item item-input" show-hide-container>
          <span class="input-label">{{ "TEXT_PASSWORD" | translate }}</span>
          <input type="password" name="password" ng-model="user.password" required>
        </label>
        <label class="item select-input">
          <span class="input-label">{{ "TEXT_INSTITUTION" | translate }}</span>
          <select ng-model="user.institution" ng-init="user.institution='0'">
            <option value="0">{{ "TEXT_SELECT_IF_INSTITUTION_MEMBER" | translate }}</option>
            <option ng-repeat="category in categories" value="{{category.cat_ID}}">{{category.name}}</option>
          </select>
        </label>
        <button type="submit" class="register button button-block" ng-click="doRegister()" ng-disabled="signup_form.$invalid">
          {{ "TEXT_REGISTER" | translate }}
        </button>
      </form>
    </div>
  </div>
</div>
</ion-content>
</ion-view>
