<ion-view class="walkthrough-view" cache-view="false">
 <ion-nav-title>
    <span>{{ "HEADER_SIGN_IN_REGISTER" | translate }}</span>
  </ion-nav-title>
  <ion-content scroll="false">
    <div class="top-content row">
      <ion-slide-box delegate-handle="walkthrough-slider" show-pager="true">
        <ion-slide>
          <div class="row slide-content">
            <div class="col">
              <img class="slide-image" ng-src="img/logo.png"/>
              <p class="slide-p">
                {{ "TEXT_PLEASE_SING_IN_OR_REGISTER" | translate }}
              </p>
            </div>
          </div>
        </ion-slide>
    </div>
    <div class="bottom-content row">
      <div class="col col-center">
        <a class="login button button-block" ui-sref="app.login">
          {{ "LINK_SIGN_IN" | translate }}
        </a>
      </div>
      <div class="col col-center">
        <a class="sign-up button button-block" ui-sref="app.register">
          {{ "LINK_REGISTER" | translate }}
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
