<ion-view class="settings-view" cache-view="false">
<ion-nav-buttons side="left">
<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
</ion-nav-buttons>
<ion-nav-title>
<span>{{ 'HEADER_LANGUAGE_SELECTION' | translate }}</span>
</ion-nav-title>
<ion-content>
<ul class="list">
  <a class="item" ng-click="switchLanguage('en_US')">
    <img ng-src="img/flags/en.png"/> {{ 'LANG_ENGLISH' | translate }}
  </a>
  <a class="item" ng-click="switchLanguage('el_GR')">
    <img ng-src="img/flags/el.png"/> {{ 'LANG_GREEK' | translate }}
  </a>
  <a class="item" ng-click="switchLanguage('nl_NL')">
    <img ng-src="img/flags/nl.png"/> {{ 'LANG_DUTCH' | translate }}
  </a>
  <a class="item" ng-click="switchLanguage('es_ES')">
    <img ng-src="img/flags/es.png"/> {{ 'LANG_SPANISH' | translate }}
  </a>
  <a class="item" ng-click="switchLanguage('tr_TR')">
    <img ng-src="img/flags/tr.png"/> {{ 'LANG_TURKISH' | translate }}
  </a>
</ul>
</ion-content>
</ion-view>
