<ion-view class="settings-view" cache-view="false">
<ion-nav-buttons side="left">
<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
</ion-nav-buttons>
<ion-nav-title>
<span>{{ 'HEADER_PROFILE' | translate }}</span>
</ion-nav-title>
<ion-content>
<ul class="list">
  <div class="item item-divider">{{ 'TXT_MY_PROFILE' | translate }}</div>
  <div class="row form-wrapper">
    <div class="col">
      <form name="user_form" class="" novalidate>
        <div class="list input-fields">
          <label class="item item-input">
            <span class="input-label">{{ 'TXT_FIRST_NAME' | translate }}</span>
            <input type="text" name="firstname" ng-model="user.firstname">
          </label>
          <label class="item item-input">
            <span class="input-label">{{ 'TXT_LAST_NAME' | translate }}</span>
            <input type="text" name="lastname" ng-model="user.lastname">
          </label>
          <label class="item item-input">
            <span class="input-label">{{ 'TXT_EMAIL' | translate }}</span>
            <input type="email" name="email" ng-model="user.email" ng-readonly="true">
          </label>
          <label class="item textarea-input">
            <span class="input-label">{{ 'TXT_DESCRIPTION' | translate }}</span>
            <textarea name="description" ng-model="user.description"></textarea>
          </label>
          <button type="submit" class="register button button-block" ng-click="updateUser()" ng-disabled="user_form.$invalid">
            {{ 'TXT_SAVE_CHANGES' | translate }}
          </button>
        </form>
      </div>
      <div class="row">
        <div class="col mt-10">
          <div ng-show="error" class="message error pt-10 pb-10 text-center fs-16 text-bold"><i class="icon ion-alert-circled fs-15"></i>{{error}}</div>
          <div ng-show="message" class="message pt-10 pb-10 text-center fs-16 text-bold"><i class="icon ion-checkmark-round fs-15"></i>{{message}}</div>
        </div>
      </div>
    </div>
  </div>
  <a class="item option" ng-click="showLogOutMenu()">
    <i class="icon ion-power"></i>
    <span class="title">{{ 'TXT_LOG_OUT' | translate }}</span>
  </a>
</ul>
</ion-content>
</ion-view>
