<ion-view class="settings-view">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span>{{ 'HEADER_SETTINGS' | translate }}</span>
  </ion-nav-title>
  <ion-content>
    <ul class="list">

      <!-- <ion-toggle ng-model="notifications" toggle-class="toggle-dark">Push Notifications</ion-toggle> -->
      <!-- <ion-toggle ng-model="sendLocation" toggle-class="toggle-dark">Send Location</ion-toggle> -->

      <div class="item item-divider">{{ 'SUBHEADER_OPTIONS' | translate }}</div>
      <a class="item option" ng-controller="EmailSenderCtrl" ng-click="sendFeedback()">
        <i class="icon ion-chatbox dark"></i>
        <span class="title">{{ 'LINK_SEND_FEEDBACK' | translate }}</span>
      </a>
      <a class="item option" ng-controller="RateAppCtrl" ng-click="rateApp()">
        <i class="icon ion-heart assertive"></i>
        <span class="title">{{ 'LINK_RATE_APP' | translate }}</span>
      </a>
      <div class="item item-divider">{{ 'SUBHEADER_LEGAL' | translate }}</div>

      <a class="item" href="" ng-click="showTerms()">{{ 'LINK_TERMS_OF_SERVICE' | translate }}</a>
      <a class="item" href="" ng-click="showFAQS()">{{ 'LINK_FAQS' | translate }}</a>
      <a class="item" href="" ng-click="showCredits()">{{ 'LINK_CREDITS' | translate }}</a>
    </ul>
  </ion-content>
</ion-view>
