<ion-side-menus enable-menu-with-back-views="false" cache-view="false">
  <ion-side-menu-content class="post-size-14px">
    <ion-nav-bar class="bar app-top-bar">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-search" menu-toggle="right">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu class="main-menu" side="left" width="230">
    <ion-content>
      <ion-list>
        <!--
        <ion-item class="item" nav-clear menu-close ui-sref="app.home">
          <i class="icon ion-quote"></i>
          <h3 class="menu-text">Home</h3>
        </ion-item>
        -->
        <ion-item class="item" nav-clear menu-close ui-sref="app.pages({slug: 'LINK_ABOUT'})">
          <h3 class="menu-text">{{ 'SIDE_MENU_ABOUT' | translate }}</h3>
        </ion-item>
        <ion-item class="item" nav-clear menu-close ui-sref="app.courses">
          <h3 class="menu-text">{{ 'SIDE_MENU_COURSES' | translate }}</h3>
        </ion-item>
        <ion-item class="item" nav-clear menu-close ui-sref="app.profile">
          <h3 class="menu-text">{{ 'SIDE_MENU_PROFILE' | translate }}</h3>
        </ion-item>
        <ion-item class="item" nav-clear menu-close ui-sref="app.category({categoryTitle: 'News', categoryId: '6'})">
          <h3 class="menu-text">{{ 'SIDE_MENU_NEWS' | translate }}</h3>
        </ion-item>
        <ion-item class="item" nav-clear menu-close ui-sref="app.category({categoryTitle: 'Partners', categoryId: '5'})">
          <h3 class="menu-text">{{ 'SIDE_MENU_PARTNERS' | translate }}</h3>
        </ion-item>
        <ion-item class="item" nav-clear menu-close ui-sref="app.pageSlug({slug: '{{ 'LINK_INTELLECTUAL' | translate }}'})">
          <h3 class="menu-text">{{ 'SIDE_MENU_INTELLECTUAL' | translate }}</h3>
        </ion-item>
        <!-- <ion-item class="item" nav-clear menu-close ui-sref="app.pageSlug({slug: 'events'})">
          <h3 class="menu-text">{{ 'SIDE_MENU_EVENTS' | translate }}</h3>
        </ion-item> -->
        <ion-item class="item" nav-clear menu-close ui-sref="app.pageSlug({slug: '{{ 'LINK_DISCLAIMER' | translate }}'})">
          <h3 class="menu-text">{{ 'SIDE_MENU_DISCLAIMER' | translate }}</h3>
        </ion-item>
        <ion-item class="item" nav-clear menu-close ui-sref="app.langselect">
          <h3 class="menu-text">{{ 'SIDE_MENU_LANGUAGE_SELECTION' | translate }}</h3>
        </ion-item>
        <ion-item class="item" nav-clear menu-close ui-sref="app.settings">
          <h3 class="menu-text">{{ 'SIDE_MENU_SETTINGS' | translate }}</h3>
        </ion-item>

        <!--
        <ion-item class="item" nav-clear menu-close ui-sref="app.bookmarks">
          <h3 class="menu-text">Bookmarks</h3>
        </ion-item>
        <ion-item class="item" nav-clear menu-close ui-sref="app.contact">
          <h3 class="menu-text">Contact</h3>
        </ion-item>
        -->
      </ion-list>
    </ion-content>
  </ion-side-menu>

  <ion-side-menu class="multi-level-push-menu" side="right" ng-controller="PushMenuCtrl">
    <ion-content has-bouncing="false" scroll="false">
      <wp-search>
      </wp-search>
      <!-- <push-menu menu="menu"></push-menu> -->
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
