<ion-view class="wordpress-course-view" cache-view="false">
<ion-nav-title>{{ "HEADER_COURSE" | translate }}</ion-nav-title>
<ion-header-bar class="bar-subheader bar-calm">
  <h5 class="text-center light">{{course.title}}</h5>
</ion-header-bar>
<ion-content>
<div class="course-content-outer" post-content>
	<div class="course-content" dynamic-anchor-fix ng-bind-html="course.content | rawHtml"></div>
</div>
<div class="row">
	<div class="col text-center" ng-if="displayAction && !isLoggedin"><button class="button button-medium button-balanced" ui-sref="app.login">{{ 'TXT_LOGIN_TO_TAKE_THIS_COURSE' | translate }}</button></div>
	<div class="col text-center" ng-if="displayAction && isLoggedin && isMember && canRetake"><button class="button button-medium button-calm" ng-click="courseUnsubsribe()">{{ 'TXT_UNSUBSCRIBE_NOW' | translate }}</button></div>
	<div class="col text-center" ng-if="displayAction && isLoggedin && !isMember">
		<button class="button button-medium button-balanced" ng-if="!isPrivate || (isPrivate && isSameInst)" ng-click="courseSubsribe()">{{ 'TXT_TAKE_THIS_COURSE' | translate }}</button>
		<button class="button button-medium button-calm" ng-if="isPrivate && !isSameInst" ng-click="courseSubsribe()">{{ 'TXT_REQUEST_ENROLLMENT_IN_COURSE' | translate }}</button>
	</div>
</div>
<div class="row">
	<div class="col mt-10 ml-10 mr-10">
		<div ng-show="error" class="message error pt-10 pb-10 text-center fs-16 text-bold"><i class="icon ion-alert-circled fs-15"></i>{{error}}</div>
		<div ng-show="message" class="message pt-10 pb-10 text-center fs-16 text-bold"><i class="icon ion-checkmark-round fs-15"></i>{{message}}</div>
	</div>
</div>
<div class="lessons" ng-if="isMember">
	<span class="progress-percent">{{progress}}%</span>
	<progress max="100" value="{{progress}}"> </progress>
</div>
<div ng-if="lessons" class="lessons pb-20">
	<div class="list">
		<div ng-repeat="lesson in lessons">
			<div class="item" ng-if="lesson.status == 'free' || isMember">
				<span ng-if="lesson.status == 'free'" class="lesson-status">{{ 'TXT_FREE' | translate }}</span>
				<a ui-sref="app.lesson({lessonId :lesson.ID})"><h2 ng-bind-html="lesson.post_title | rawHtml"></h2></a>
				<div class="lesson-progress" ng-if="isMember && lesson.hasQuiz && lesson.progress>0" >
					<span class="progress-percent lesson">{{lesson.progress}}%</span>
					<progress max="100" value="{{lesson.progress}}" class="lesson"></progress>
				</div>
			</div>
			<div class="item" ng-if="lesson.status == 'premium' && !isMember">
				<h2 ng-bind-html="lesson.post_title | rawHtml"></h2>
			</div>
		</div>
	</div>
</div>
</ion-content>
</ion-view>
