<div class="card-header">
  <h1 ng-bind-html="course.title | rawHtml"></h1>
</div>
<div class="card-content-outer" post-content>
  <div class="card-content" dynamic-anchor-fix ng-bind-html="course.excerpt | rawHtml"></div>
</div>
<div class="card-footer">
  <!-- <a class="card-button secondary" ng-click="sharePost(post.url)">SHARE</a> -->
  <a class="card-button primary" ui-sref="app.course({courseId :course.id})">{{ 'TXT_READ_MORE' | translate }}</a>
  <span ng-if="course._status == 'free'" class="card-button tag thirdy">{{ 'TXT_FREE' | translate }}</span>
</div>
