<ion-view class="courses-view">
  <ion-nav-title>
    <span>{{ "HEADER_COURSES" | translate }}</span>
  </ion-nav-title>
  <ion-content>

    <div class="courses">
      <div course-card ng-repeat="course in courses" class="course-card"></div>
    </div>

    <!-- Infinit scroll -->
    <ion-infinite-scroll ng-if="moreDataCanBeLoaded()" on-infinite="loadMoreData()" distance="1%">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
