<ion-view class="wordpress-lesson-view" cache-view="false">
<ion-nav-title>
<span>{{lesson.title}}</span>
</ion-nav-title>
<ion-content>
<div class="button-bar">
	<button class="button button-small button-calm pt-5 pb-5" ng-if="prev" ui-sref="app.lesson({lessonId : prev})"><i class="icon ion-arrow-left-b text-light"></i> {{ 'TXT_GO_BACK' | translate }}</button>
	<button class="button button-small button-calm pt-5 pb-5" ng-if="course >= 0" ui-sref="app.course({courseId : course})"><i class="icon ion-close-round text-light"></i> {{ 'TXT_BACK_TO_COURSE' | translate }}</button>
	<button class="button button-small button-calm pt-5 pb-5" ng-if="next" ui-sref="app.lesson({lessonId : next})"><i class="icon ion-arrow-right-b text-light"></i> {{ 'TXT_PROCCEED' | translate }}</button>
	<button class="button button-small button-balanced pt-5 pb-5" ng-if="isMember && progress == 0 && prerequisite.progress !== 0 && hasQuiz" ui-sref="app.quiz({quizId : quiz.ID})"><i class="icon ion-edit text-light"></i> {{ 'TXT_TAKE_A_QUIZ' | translate }}</button>
	<button class="button button-small button-balanced pt-5 pb-5" ng-if="isMember && progress == 0 && prerequisite.progress !== 0 && !hasQuiz" ng-click="lessonComplete()"><i class="icon ion-checkmark-round text-light"></i> {{ 'TXT_MARK_COMPLETE' | translate }}</button>
	<button class="button button-small button-calm pt-5 pb-5" ng-if="isMember && progress !== 0 && canRetake" ng-click="lessonIncomplete()"><i class="icon ion-checkmark-round text-light"></i> {{ 'TXT_MARK_INCOMPLETE' | translate }}</button>
</div>
<div class="row">
	<div class="col mt-10 ml-10 mr-10">
		<div ng-show="error" class="message error pt-10 pb-10 text-center fs-16 text-bold"><i class="icon ion-alert-circled fs-15"></i>{{error}}</div>
		<div ng-show="message" class="message pt-10 pb-10 text-center fs-16 text-bold"><i class="icon ion-checkmark-round fs-15"></i>{{message}}</div>
	</div>
</div>
<div class="lesson-content-outer" post-content>
	<div class="lesson-content" ng-if="showLesson && prerequisite.progress == 0 && lesson.status !== 'free' && hide"><button class="button button-block button-assertive button-outline" ui-sref="app.lesson({lessonId : prerequisite.ID})">{{ 'TXT_YOU_MUST_COMPLETE_PREVIOUS_LESSON' | translate }}</button></div>
	<div ng-if="showLesson && (prerequisite.progress !== 0 || lesson.status == 'free' || !hide)" class="lesson-content" dynamic-anchor-fix ng-bind-html="lesson.content | rawHtml"></div>
	<div class="lesson-attachments card" ng-if="showLesson && (lesson.attachments).length && (prerequisite.progress !== 0 || lesson.status == 'free' || !hide)">
		<div class="bar bar-header bar-balanced">
			<h2 class="title">{{ 'TXT_ATTACHMENTS' | translate }}</h2>
		</div>
		<div class="list">
			<a href="{{attachment.url}}" class="item item-icon-left" ng-if="attachment.url !== ''" ng-repeat="attachment in lesson.attachments">
				<i href="attachment.url" ng-if="attachment.type == 'document'" class="icon ion-document" dynamicAnchorFix></i>
				<i href="attachment.url" ng-if="attachment.type == 'video'" class="icon ion-ios-videocam-outline" dynamicAnchorFix></i>
				<i href="attachment.url" ng-if="attachment.type == 'audio'" class="icon ion-music-note" dynamicAnchorFix></i>
				<h2 ng-bind-html="attachment.title | rawHtml"></h2>
			</a>
		</div>
	</div>
</div>
</ion-content>
</ion-view>
