<div class="card-header">
  <h1 ng-bind-html="page.title | rawHtml"></h1>
</div>
<div class="card-content-outer" post-content>
  <div class="card-content" dynamic-anchor-fix ng-bind-html="page.excerpt | rawHtml"></div>
</div>
<div class="card-footer">
  <!-- <a class="card-button secondary" ng-click="sharePost(post.url)">SHARE</a> -->
  <a class="card-button primary" ui-sref="app.page({pageId :page.id})">{{ 'TXT_READ_MORE' | translate }}</a>
  <!-- <a ng-show="post.comment_count > 0" class="card-button comments" ui-sref="app.post({postId :post.id})">
    <i class="icon ion-chatbox"></i>{{post.comment_count}}
  </a>
  <a class="card-button secondary bookmark" ng-click="bookmarkPost(post)">
    <i class="icon ion-bookmark"></i>
  </a> -->
</div>
