<ion-view class="pages-view" cache-view="false">
  <ion-nav-title>
    <span>{{ "HEADER_ABOUT" | translate }}</span>
  </ion-nav-title>
  <ion-content>

    <div class="pages">
      <div page-card ng-repeat="page in pages" class="page-card"></div>
    </div>

    <!-- Infinit scroll -->
    <ion-infinite-scroll ng-if="moreDataCanBeLoaded()" on-infinite="loadMoreData()" distance="1%">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
