<div class="card-header">
  <h1 ng-bind-html="post.title | rawHtml"></h1>
  <h2 ng-show="showAuthor">{{ 'TXT_POSTED' | translate }} <span am-time-ago="post.date"></span> {{ 'TXT_BY' | translate }} <span class="author" ng-bind-html="post.author.name | rawHtml"></span></h2>
</div>
<div class="card-content-outer" post-content>
  <div class="card-content" dynamic-anchor-fix ng-bind-html="post.content | rawHtml"></div>
</div>
<div class="card-footer">
  <!-- <a class="card-button secondary" ng-click="sharePost(post.url)">SHARE</a> -->
  <a class="card-button primary" ui-sref="app.post({postId :post.id})">{{ 'TXT_READ_MORE' | translate }}</a>
  <a ng-show="post.comment_count > 0 && showContents" class="card-button comments" ui-sref="app.post({postId :post.id})">
    <i class="icon ion-chatbox"></i>{{post.comment_count}}
  </a>
  <!-- <a class="card-button secondary bookmark" ng-click="bookmarkPost(post)">
    <i class="icon ion-bookmark"></i>
  </a> -->
</div>
