<ion-view class="wordpress-quiz-view" cache-view="false">
<ion-nav-title>
<span>{{quiz.title}}</span>
</ion-nav-title>
<ion-content>
<form serializer="quizComplete(data)">
	<div class="button-bar">
		<button class="button button-small button-calm pt-5 pb-5" ng-if="lesson.ID" ui-sref="app.lesson({lessonId : lesson.ID})"><i class="icon ion-arrow-left-b text-light"></i> {{ 'TXT_BACK_TO_LESSON' | translate }}</button>
		<button class="button button-small button-calm pt-5 pb-5" ng-if="course.ID" ui-sref="app.course({courseId : course.ID})"><i class="icon ion-close-round text-light"></i> {{ 'TXT_BACK_TO_COURSE' | translate }}</button>
		<button class="button button-small button-balanced pt-5 pb-5" ng-if="isMember && progress == 0 && prerequisite.progress !== 0" type="submit"><i class="icon ion-checkmark-round text-light"></i> {{ 'TXT_COMPLETE_QUIZ' | translate }}</button>
	</div>
	<div class="row">
		<div class="col mt-10 ml-10 mr-10">
			<div ng-show="error" class="message error pt-10 pb-10 text-center fs-16 text-bold"><i class="icon ion-alert-circled fs-15"></i>{{error}}</div>
			<div ng-show="message" class="message pt-10 pb-10 text-center fs-16 text-bold"><i class="icon ion-checkmark-round fs-15"></i>{{message}}</div>
		</div>
	</div>
	<div class="quiz-content-outer" post-content>
		<div class="quiz-content" dynamic-anchor-fix ng-bind-html="quiz.content | rawHtml"></div>
	</div>
	<div class="card" ng-repeat="question in questions">
		<div class="item item-divider">
			<span class="item-label" ng-bind-html="question.title | rawHtml"></span>
		</div>
		<div class="item item-text-wrap" ng-if="question.type == 'string'">
			<input name="{{question.key}}" value="" placeholder="Answer" type="text">
		</div>
		<div class="item item-text-wrap" ng-if="question.type == 'single'">
			<ul>
				<li ng-repeat="(key,answer) in question.answers">
					<input type="radio" name="{{question.key}}" value="{{key}}" id="{{question.key}}_{{key}}" ><label for="{{question.key}}_{{key}}">{{answer.title}}</label>
				</li>
			</ul>
		</div>
		<div class="item item-text-wrap" ng-if="question.type == 'multiple'">
			<ul>
				<li ng-repeat="(key,answer) in question.answers">
					<input type="checkbox" name="{{question.key}}[{{key}}]" value="true" id="{{question.key}}_{{key}}" ><label for="{{question.key}}_{{key}}">{{answer.title}}</label>
				</li>
			</ul>
		</div>
	</div>
</form>
</ion-content>
</ion-view>
