// Main menu colors
$main-menu-bg: #FFFFFF;
$main-menu-color: #666666;
$main-menu-heading-height: 230px;

// Menu - User image
$menu-user-img-width: 10vw;
$menu-user-img-ratio: 1 1;

// Merge maps
$pre-img-ratios: append($pre-img-ratios, $menu-user-img-ratio);
