// Walkthrough colors
$error-color: #EF473A;
$walkthrough-bg: #FFFFFF;
$walkthrough-color: #72b72e;

$walkthrough-btn-bg-1: #FFFFFF;
$walkthrough-btn-color-1: darken($theme-color-1, 5%);

$walkthrough-btn-bg-2: darken($theme-color-1, 5%);
$walkthrough-btn-color-2: #FFFFFF;
