.register-view,
.login-view,
.forgot-password-view,
.settings-view,
.wordpress-course-view,
.wordpress-lesson-view,
.wordpress-quiz-view
{
  background-color: $walkthrough-bg;

  .view-navigation
  {
    .bar
    {
      background: transparent;
      border: none;
    }

    .back-button
    {
      *
      {
        color: $walkthrough-color;
      }
    }
  }

  ion-content
  {
    .scroll
    {
      height:100%;
    }
  }

  .form-heading
  {
    height:20%;
  }

  .form-wrapper
  {
    height:80%;
    margin:0px;
  }

  .form-title
  {
    color: $walkthrough-color;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
  }

  .input-fields
  {

    .item
    {
      margin: 10px 0px;
      border-width: 2px;
      background-color: darken($walkthrough-bg, 3);

      *
      {
        color: $walkthrough-color;
      }

      select {
        width : 100%;
        background: $walkthrough-bg;
      }

      textarea {
        border: 1px solid lighten($walkthrough-color, 35);
        padding: 9px;
        width : 100%;
        background: $walkthrough-bg;
      }

      .input-label
      {
        font-weight: 500;
      }
    }

    .item.item-input
    {
      input
      {
        flex: inherit;
        padding-right: 0px;

      }
      input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:active, input:-webkit-autofill:focus {
        -webkit-box-shadow: 0 0 0 1000px white inset;
      }
    }
  }

  .message
  {
    color: $walkthrough-color;
    border: 1px solid $walkthrough-color;
    font-weight: 400;
    border-radius: 5px;

    strong {
      color: $walkthrough-color;
    }

    .icon {
      font-size: 18px;
      color: $walkthrough-color;
      margin-left:5px;
      margin-right:8px;
      vetrical-align:text-bottom;
    }

  }

  .message.error {
    color: $error-color;
    border: 1px solid $error-color;

    .icon {
      font-size: 20px;
      color: $error-color;
    }
  }

  

  .alternative-actions
  {
    margin: 0px;

    .button
    {
      padding:0px;
      font-size:14px;
      color: rgba($walkthrough-color, .8);
    }
  }

  // Show/Hide password
  .show-hide-input
  {
    display: inherit;
    width: 100%;
  }
  .toggle-view-anchor
  {
    $anchor-size: 14;
    position:absolute;
    top:6px;
    right:0px;
    height: $line-height-computed + $font-size-base;
    line-height: $line-height-computed + $font-size-base;
    padding-right:8px;

    *
    {
      color: darken($walkthrough-bg, 20) !important;
      display: block;
      font-size: 14px;
      width: 45px;
      text-align: center;
      font-weight: 500;
    }
  }

}
