// Multi menu colors
$multi-menu-bg: $theme-color-3;
$multi-menu-color: #FFFFFF;

$search-height: $bar-height;
$search-results-heading-height: 90px;
$search-resume-height: 20px;

$category-margin: 14px;
$category-height: 85px;
$heading-height: 120px;
