.wordpress-page-view,
.wordpress-course-view,
.wordpress-lesson-view,
.wordpress-quiz-view
{
  .page-content,
  .course-content,
  .lesson-content,
  .quiz-content
  {
    padding: 20px;
  }
  .lessons, .quizzes
   {
  	padding: 0px 20px;
  	.item {
	  	span {
	  		font-size: 1.1em;
	  		display:inline-block;

	  		&.lesson-status{
	  			float : left;
		  		display:inline-block;
		  		margin-right:10px;
		  		padding:0px 5px;
		  		color: $white;
		  		line-height: 30px;
		  		font-size: 0.8em;
		  		background-color: $back-blue;
		  		border: 1px solid $rgba-black-opacity-10;
			    text-shadow: 0 -1px $rgba-black-opacity-15;
		    }
	  	}
	  	h2 {
	  		line-height: 20px;
	  		padding-top:5px;
	  		padding-bottom:5px;
	  		display:inline-block;
	  		float : left;
	  	}
	  	a {
	  		text-decoration:none;

	  		&.lesson-attachment {
		    	margin: 5px 5px 5px;
		    	float : left;
		    	
		    	i {
		    		
		    		background-color: #72b72e;
		    		color: $white;
		    		width:30px;
		    		height: 30px;
		    		line-height: 30px;
		    		display: inline-block;
		    		text-align:center;
		    	}
		    }
		    
	  		h2 {
		  		color: $back-blue;
		  		white-space: pre-wrap;
		  	}
	  	}
	  	.lesson-attachments {
	  		margin-top: 5px;
	  		width:100%;
	  		float: right;
	  	}
	}
  }

  .lesson-attachments {

  	position: relative;

  	.bar {
  		&.bar-balanced {
  			position:relative
  		}
  	}
  	.list {
  		.item {

  			h2 {

	  			white-space:pre-wrap;
	  			text-overflow:none

	  			}

  			&.item-icon-left {
  				.icon {
  					font-size: 22px;
			    	background-color: #72b72e;
			    	color: $white;
			    	height: 70%;
			    	margin-top: 7px;
			    	text-align:center;
  				}
  			}
  		} 
 	}
  }
}
