// Audio fix
.wp-audio-shortcode
{
 visibility: visible !important;
 padding: 0px $sides-padding;
}


ion-content
{
  background: $content-bg;
  font-family: 'Roboto', sans-serif;
  vertical-align:middle;
}


.card-header
{
  padding:16px;
}

.card-footer
{
  border-top: 1px solid lighten($content-color,60);
  padding:16px;
  margin-top:20px;
}

.card-button
{
  font-size: 15px;
  padding: 6px;
  text-decoration: none;

  &.primary
  {
    color: $read-more-color;
  }

  &.secondary
  {
    color: $content-color;
  }

  &.thirdy
  {
    color: $tag-color;
  }

  font-weight: 500;
}

.card-content
{
  // Fix audio tag not displaying to 100% on ios
  audio::-webkit-media-controls-panel
  {
    width:100% !important;
  }

  p
  {
    padding: 0px $sides-padding;
  }

  img
  {
    height: auto;
    @include calc(width, "100% + #{($sides-padding*2)}");
    margin-left: - $sides-padding;
  }

  ul, ol
  {
    list-style-type: square;
    padding: 0 0 0 40px;
    margin: 14px 0px;
  }

  iframe
  {
    height: auto;
    @include calc(width, "100% + #{($sides-padding*2)}");
    margin-left: - $sides-padding;
  }

  blockquote
  {
    font-style: italic;
    font-weight: 300;
    margin: 20px 20px;
    border: none;
    padding: 0px;

    p
    {
      font-size: 16px;
    }
  }
}

.author
{
  font-weight:400;
  color: $anchor-color;
}

a
{
  font-weight:300;
  color: $anchor-color;
}

h1
{
  font-size:22px;
  font-weight:200;
}

h2
{
  margin:0px;
  font-size:13px;
  line-height:2.5;
  color: lighten($content-color, 10);
  font-weight:300;
}