$post-sides-padding: 8px;
$sides-padding:16px;

$post-card-bg: #FFFFFF;
$post-bg: #FFFFFF;
$highlighted-comment: #33cd5f;

$heart-color: #EF473A;
$read-more-color: $theme-color-2;
$anchor-color: $theme-color-1;

$white: #FFFFFF;
$back-blue: #5ea5d7;
$rgba-black-opacity-10: rgba(0,0,0,0.1);
$rgba-black-opacity-15: rgba(0,0,0,0.15);
