.home-view,
.pages-view,
.courses-view,
.category-view
{
  @import "scss/wordpress/posts.styles";

  .posts,
  .pages,
  .courses
  {
    display:block;
    position:relative;
    border-radius:.25rem;
    overflow:hidden;
    padding: 8px;
  }

  .post-card,
  .page-card,
  .course-card
  {
    margin: 8px 0px 24px 0px;
    position:relative;
    z-index:2;
    box-shadow: 0 1px 2px darken($post-card-bg, 5);
    background: $post-card-bg;
    border-radius:3px;
  }

  .card-button.bookmark
  {
    float: right;
    padding: 0px;

    i
    {
      padding:4px;
    }

    font-size: 34px;
    margin-top: -6px;
  }

  .card-button.tag
  {
    float: right;
    font-size: 15px;
    padding: 0px 6px;
  }


  .card-button.comments
  {
    padding: 0px;
    color: $content-color;
    i
    {
      padding:4px;
    }
  }
}
