// Images - Preload images
$pre-img-bg: rgba(lighten(#666666, 15%), .25);
// Images - Preload images - Spinner on load
$spinner-size: 50px;
$spinner-svg-size: 28px;
$spinner-color: #FFFFFF;
// Images - Multimedia background
$multi-bg: darken($theme-color-3, 15%);

$overlay-bg: darken($theme-color-3, 8%);

$pre-img-ratios: ();

// App colors
$top-bar-bg: $theme-color-1;
$top-bar-color: #FFFFFF;

$loading-color: #FFFFFF;
$loading-background-color: rgba(#444444, .9);

$content-bg: #EAEAEA;
$content-color: #444444;

$tag-color: #72b72e;
